body {
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    font-size: 13px;
    font-family: arial, sans-serif;
}

div#viewport {
    position: absolute;
    top: 0;
    width: 100%;
}
#topbar {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 7px 0px 0px 10px;
    position: absolute;
    display: inline-block;
}
#topleft {
    display: flex;
    flex-direction: row;
    flex-basis: auto;

    padding-right: 30px;
    align-items: center;
    margin-top: 10px;
    position: absolute;
}
#topright {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    position: relative;
}
.profile {
    height: 40px;
    width: 40px;
   opacity: 1.0;
   padding-left: 15px;
   justify-content: right;
   display: grid;
   grid-template-rows: 40px;
}
#profile-image {
    height: 32px;
    width: 32px;
    background-size: 33px 33px;
    border-radius: 50%;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: center;
}
#gpath {
    grid-area: 1 / 1 / 2 / 2;
    
}
#logo {
    border: 0;
    height: 233px;
    width: 550px;
    text-align: -webkit-center;
    margin-top: 89px;
    padding: 35px;
    
}
#main {
    display: flex;
    width: 100%;
}
.center {
    justify-content: center;
    align-items: center;
}

.app {
    height: 24px;
}
#user {
    margin: 7px 0px 0px 10px;
    position: absolute;
    display: flex;
    text-align: right;
    justify-content: right;
}
a {
    color: #000;
}
a:link {
    text-decoration: none;
    opacity: 0.75;
    padding-left: 15px;
}
a:hover, a:focus {
    text-decoration:underline;
}
input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    color: #222;
    border: 1px solid #c6c6c6;
}
div#search-form {
    width: 100%;
    position: absolute;
    top: 269px;
    margin-top: 0px;
    text-align: -webkit-center;
}
footer {
    bottom: 0;
    font-size: 10pt;
    height: 50px;
    position: fixed;
    width: 100%;
    visibility: visible;
    display: block;
    line-height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;

}